body { margin: 0; }


   #sidebar, #content { position: absolute; }


   #sidebar, #content { overflow: auto; padding: 10px; }


   #header {
    height: 80px; /* Высота слоя */
    background: #AEDDDF;
    border-bottom: 2px solid #7B5427;
   }


   #header h1 { padding: 20px; margin: 0; }


   #sidebar {
    width: 300px; background: #ECF5E4; border-right: 1px solid #231F20;
    top: 82px; /* Расстояние от верхнего края */
    bottom: 0; /* Расстояние снизу  */
    position:absolute;
   }


   #content {
    top: 82px; /* Расстояние от верхнего края */
    left: 320px; /* Расстояние от левого края */
    bottom: 10; right: 0;
   }
